<%= render 'shared/header' %>

<section class="landing-hero">
  <div class="landing-delimiter mobile-only"></div>
  <div class="landing-hero__copy">
    <h1>
      Sign Up
      <strong>For Beta.</strong>
    </h1>
    <% unless @message %>
      <p>
        Tweek combines team communication with task management.<br class="desktop-only">
        Fill the form and chat yourself a plan!
      </p>
    <% else %>
      <p class="<%= @type %>">
        <%= @message %>
      </p>
    <% end %>
  </div>
  <% unless @message %>
  <div class="boarding-form">
    <%= form_tag("submit", method: "post") do %>
      <div class="form">
        <%= text_field_tag :first_name, '', class: "form__input", placeholder: t(:first_name_placeholder) %>
        <%= text_field_tag :last_name, '', class: "form__input", placeholder: t(:last_name_placeholder) %>
        <%= email_field_tag :email, '', class: "form__input", placeholder: t(:email_placeholder) %>
        <%= submit_tag t(:get_beta_access), class: 'form__button', id: "submit" %>
      </div>
    <% end %>
  </div>
  <% end %>
</section>

<div class="landing-footer">
  <div class="landing-footer__left">
    ©TweekApp 2016
    <span class="desktop-only">
      | <a href="<%= url_for '/files/Tweek Press.zip' %>">Press Kit</a>
    </span>
  </div>
  <div class="landing-footer__right">
    From people behind
    <a href="https://teamweek.com/">Teamweek</a> &amp;
    <a href="https://toggl.com/">Toggl</a>
  </div>
</div>

<div class="floaters"></div>

<script>
  Tweek_initFloaters();
  Tweek_initForm();
</script>
